body {
    background-image: url("pexels-photo-461428.jpeg");
    background-size: 100% auto;
    z-index: 1;
    background-color: hsla(0,0%,100%,0.20);
    background-blend-mode: overlay;
    font-family: 'Titillium Web', sans-serif;
    margin: 0%;
    background-repeat: no-repeat;
}

.landing_page_login {
    background-image: url("pexels-photo-798282.jpeg");
}

.cookbook {
    background-image: url("../cookbook/blur-blurred-book-46274.jpg");
}

.getränke {
    background-image: url("../images/drinks/pexels-photo-374885.jpeg");
}

.appetizers {
    background-image: url("../images/appetizers/appetizer-avocado-bread-566566.jpg");
}

.main_courses {
    background-image: url("../images/main courses/bake-baked-basil-236798.jpg");
}

article {
    text-align: left;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 100px black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    padding: 2%;
}

ul li a {
    text-decoration: none;
    color: #2F657F;
}

.link {
    text-decoration: none;
    color: #2F657F;
    font-weight: bold;
}

header {
    display: block;
    background-color: #BDD684;
    text-decoration: none;
    padding: 20px 30px;
}

.button {
    -webkit-tap-highlight-color: transparent;
    border-radius: 100px;
    border: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 85%;
    outline: none;
    overflow: hidden;
    padding: 1em 2em;
    position: relative;
    width: 300px;
}

.button:hover {
    font-weight: bold;
    transform: translateY(-3px);
}

.button--white {
    color: white;
}
.pattern {
    background: #b3d071;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.bg1 {
    background-image: url("button.jpg");
}

.inner {
    height: 100px;
    width: 400px;
}
.text {
    position: relative;
    opacity: .7;
    color: white;
}
.button:active .target {
    opacity: 0.7;
    transition: opacity 100ms;
}

.smallbutton{
    background: #2F657F;
    color: white;
    text-decoration: none;
    outline: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: white;
    height: 30px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.addbutton {
    font-size: xx-large;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: right;
    padding: 0;

}
.smallbutton:hover{
    box-shadow: 3px 3px 6px #10222B;
    transform: translateY(-3px);
}