/*Generak Sidebar styling and position*/
#sidebar{
    background:#10222B;
    width:240px;
    height:100%;
    display:block;
    position:absolute;
    left:-240px;
    top:0px;
    transition:left 0.3s linear;
}

#sidebar.visible{
    left:0px;
    transition:left 0.3s linear;
}

.liste{
    margin:0px;
    padding:0px;
}

/*Styling listing elements*/
.listenelement{
    list-style:none;
}

.listenlink{
    background:#183240;
    color:#ccc;
    border-bottom:1px solid #111;
    display:block;
    width:220px;
    padding:10px;
    text-decoration: none;
}

.listenlink:hover{
	font-weight: bold;
}

/*Styling listing elements from my cookbook*/
.listenlink2{
    background: #2F657F;
    color:#ccc;
    border-bottom:1px solid #111;
    display:block;
    width:180px;
    padding:10px;
    text-decoration: none;
}

.listenlink2:hover{
	font-weight: bold;
}

#sidebar-btn{
    display:inline-block;
    vertical-align: middle;
    width:20px;
    height:15px;
    cursor:pointer;
    margin:20px;
    position:absolute;
    top:0px;
    right:-60px;
}

#sidebar-btn span{
    height:1px;
    background:#111;
    margin-bottom:5px;
    display:block;
}

#sidebar-btn span:nth-child(2){
    width:75%;
}

#sidebar-btn span:nth-child(3){
    width:50%;
}